

DATABASE_URL=postgresql://app_user:RjoBpG5YsvyKvqgOgWIzBC0NmP7XjbpY@dpg-d8qmauernols73eahn80-a.oregon-postgres.render.com:5432/gf_case

JWT_SECRET=ECKieQnEFV/weBX+DWP0FuE+chSt85WExOXT5Z/pKos=
PORT=3000
FRONTEND_URL=http://localhost:5173